input[type="text"] {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  color: var(--dark-grayish-blue);
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 0 .5rem .5rem 0;
}

.add-todo {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: white;
  border-radius: .5rem;
  padding-left: 1rem;
}

.add-todo.dark,
input[type="text"].dark {
  background-color: var(--very-dark-desaturated-blue);
  color: var(--light-grayish-blue);
}

.circle {
  width: 1.3rem;
  height: 1.3rem;
  border: 1px solid var(--light-grayish-blue);
  border-radius: 50%;
  background-color: transparent;
}